/*Deberia importar fuente a usar no laq ge puesto uqe sera fea*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}
html,body{
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;